
/* Nav Bar */
.navIcon {
    margin-left: 30px;
  }

nav {
    background-color: #003366 !important;
  }


/* Main Card */
.card {
    margin-top: 25px;
}
.card-img-top {
    float: left;
    margin-right: 10px;
    width: 200px !important;
    height: 200px !important;
}

.card-title {
    border-bottom: 1px black solid;
    margin-bottom: 10px;
}

#bottom-spacer {
    height: 400px;
    width: 900px;
    margin-bottom: 500px;
}


#index-main {
    background-color: white;
}

/* Portfolio Background Color */
#portfolio-main {
    background-color: white;
}

#parallax-BG {
    background-color: white !important;
}
/* Carousel */
.carousel-item{
    margin-top: 80px !important;
    height: 500px !important;
    width: 670px !important;
  }

.carousel {
    margin-top: 50px !important;
    padding-top: 100px !important;
}

#carousel-header {
    text-align: center;
}

.carousel-text {
    text-align: center;
}

/*Resume  */
#resume-main {
    background-color: white;
}

#resume-card {
    width: 600px !important;
    margin: 30px auto !important;
}

#resume-button {
    background-color: #001a33 !important;
    margin-left: 470px;
    margin-bottom: 70px;
}

/* Contact */
#contact-card {
    width: 900px !important;
    margin: 100px auto !important;
    padding: 30px;
}

#email {
    width: 400px !important;
}

#first_name {
    width: 400px !important;
}

#contact-title {
    border-bottom: 1px black solid;
    margin-bottom: 10px;
}

#submit-button {
    background-color: #001a33;
}

#modal-title {
    text-align: center;

}

#modal-text {
    text-align: center;
}

/* Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #004d99 !important;
}

.footer-copyright {
    background-color: #003366 !important;
}



