
/* Nav Bar */
.navIcon {
    margin-left: 30px;
  }

nav {
    background-color: #003366 !important;
  }


/* Main Card */
.card {
    margin-top: 25px;
}
.card-img-top {
    float: left;
    margin-right: 10px;
    width: 120px !important;
    height: 120px !important;
}

.card-title {
    border-bottom: 1px black solid;
    margin-bottom: 10px;
}

#bottom-spacer {
    height: 400px;
    width: 900px;
    margin-bottom: 500px;
}


#index-main {
    background-color: white;
}

/* Portfolio */
#portfolio-main {
    background-color: white;
}

#parallax-BG {
    background-color: white !important;
}

.portfolio-item-img {
    width: 250px;
    height: 150px;
    margin: 17px 0;
    border: solid black 2px;
    /* height: 100px; */
    /* float: right; */
}

.portfolio-item-wrapper {
    border: solid #00004c 2px;
    padding: 10px;
    border-radius: 25px;
    margin: 20px 0;
    /* clear: both; */
}

.portfolio-item-title {
    font-size: 20px;
    font-weight: bold;
    /* float: left; */
}

.portfolio-item-description {
    /* float: left; */
}

/*Resume  */
#resume-main {
    background-color: white;
}

#resume-card {
    width: 600px !important;
    margin: 30px auto !important;
}

#resume-button {
    background-color: #001a33 !important;
    margin-left: 470px;
    margin-bottom: 70px;
}

/* Contact */
#contact-card {
    width: 900px !important;
    margin: 100px auto !important;
    padding: 30px;
}

#email {
    width: 400px !important;
}

#first_name {
    width: 400px !important;
}

#contact-title {
    border-bottom: 1px black solid;
    margin-bottom: 10px;
}

#submit-button {
    background-color: #001a33;
}

#modal-title {
    text-align: center;

}

#modal-text {
    text-align: center;
}

/* Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #004d99 !important;
}

.footer-copyright {
    background-color: #003366 !important;
}

#linkedin-link {
    margin-left: 600px;
    margin-right: 25px;
}

#google-link {
    margin-right: 25px;
}

#github-link {
    margin-right: 400px;
}

